* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nirmala UI", sans-serif;
  background: #00B19C;
  background: -webkit-linear-gradient(to right, #A0D9D9, #00B19C);
  background: linear-gradient(to right, #A0D9D9, #00B19C);
}